/* Login.css */
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Arial', sans-serif;

  }
  
  .login-container {
    max-width: 480px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .logo img {
    width: 100%;
    max-width: 150px; /* 로고 크기 조정 */
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  

  *{
    box-sizing: none;
}
#about{
    padding: 50px 20px;
    border-bottom: 1px solid black;
}
.container{
    color:black;    
    overflow: hidden;
}
.title{
    width: 30%;
    float: left;
    
}
.title {
    text-align:center;
    font-size: 2.2rem;
    font-family: 'Source Sans Pro', sans-serif;                                                   
}
.title img:after{
    display: block;
    width: 15%;
    content: '';
    border-bottom: 1px solid #3498db;
    margin: 15px auto;
}
.content{
    width: 70%;
    float:right;
    
}
.content p{
    line-height: 1.4rem;
    font-family: 'Source Sans Pro', sans-serif;
    color:gray;
}